doctype html
html(lang='en')
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(class='container-fluid')
			div(class='row')
				div(class='col-sm-2')
					block sidebar
						ul(class='sidebar-nav')
							li 
								a(href='/api') Inicio
							li 
								a(href='/api/personas') Listado de Personas 
							li 
								a(href='/api/montajes') Listado de Montajes
							li 
								a(href='/api/reparaciones') Listado de Reparaciones
							li 
								a(href='/api/reportes') Listado de Reportes
							li 
								a(href='/api/revisiones') Listado de Revisiones
							li 
								a(href='/api/pruebaLimitadores') Listado de Pruebas Limitadores
							li 
								hr
							li 
								a(href='/api/personas/create') Agregar nueva Persona 
							li 
								a(href='/api/montajes/create') Agregar nuevo Montaje
							li 
								a(href='/api/reparacions/create') Agregar nueva Reparacion
							li 
								a(href='/api/reportes/create') Agregar nuevo Reporte
							li 
								a(href='/api/revisiones/create') Agregar nueva Revision
							li 
								a(href='/api/pruebaLimitadores/create') Agregar nueva Prueba de Limitadores

				div(class='col-sm-10')
					block content