extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      
      label(for='cod') Código:
      input#cod.form-control(type='text', placeholder='ADM004' name='cod' required='true' value=(undefined===persona ? '' : persona.cod) )

      label(for='apellido1') Primer Apellido:
      input#apellido1.form-control(type='text', placeholder='Schmidt' name='apellido1' required='true' value=(undefined===persona ? '' : persona.apellido1) )

      label(for='apellido2') Segundo Apellido:
      input#apellido2.form-control(type='text', placeholder='Fernández' name='apellido2' required='true' value=(undefined===persona ? '' : persona.apellido2) )

      label(for='nombre') Nombre:
      input#nombre.form-control(type='text', placeholder='Martín' name='nombre' required='true' value=(undefined===persona ? '' : persona.nombre))
    
      label(for='rut') Rut:
      input#rut.form-control(type='text', placeholder='177008087' name='rut' required='true' value=(undefined===persona ? '' : persona.rut))

      label(for='domicilio') Domicilio:
      input#domicilio.form-control(type='text', placeholder='Pocuro' name='domicilio' required='true' value=(undefined===persona ? '' : persona.domicilio))

      label(for='cargo') Cargo:
      input#cargo.form-control(type='text', placeholder='Asesor' name='cargo' required='true' value=(undefined===persona ? '' : persona.cargo))      

      label(for='sexo') Sexo:
      input#sexo.form-control(type='text', placeholder='Masculino' name='sexo' required='true' value=(undefined===persona ? '' : persona.sexo)) 

      label(for='estadoCivil') Estado Civil:
      input#estadoCivil.form-control(type='text', placeholder='Soltero' name='estadoCivil' required='true' value=(undefined===persona ? '' : persona.estadoCivil))

      label(for='afp') AFP:
      input#afp.form-control(type='text', placeholder='Modelo' name='afp' required='true' value=(undefined===persona ? '' : persona.afp)) 

      label(for='isapre') Isapre:
      input#isapre.form-control(type='text', placeholder='Cruz Blanca' name='isapre' required='true' value=(undefined===persona ? '' : persona.isapre))       

    div.form-group
      label(for='fechaNacimiento') Fecha de Nacimiento:
      input#fechaNacimiento.form-control(type='date', name='fechaNacimiento', value=(undefined===persona ? '' : persona.fechaNacimiento) )

      label(for='fechaIngreso') Fecha de Ingreso:
      input#fechaIngreso.form-control(type='date', name='fechaIngreso', value=(undefined===persona ? '' : persona.fechaIngreso) )
    
    div.form-group
      label(for='dp') DP:
      input#dp.form-control(type='number', placeholder='01', name='dp', value=(undefined===persona ? '' : persona.dp) )  

      label(for='sueldoBase') Sueldo Base:
      input#sueldoBase.form-control(type='number', placeholder='850 000', name='sueldoBase', value=(undefined===persona ? '' : persona.sueldoBase) )

      label(for='porcentajeCom') Porcentaje Complementario:
      input#porcentajeCom.form-control(type='number', placeholder='0.00', name='porcentajeCom', value=(undefined===persona ? '' : persona.porcentajeCom) )

      label(for='cargas') Numero de Cargas:
      input#cargas.form-control(type='number', placeholder='0', name='cargas', value=(undefined===persona ? '' : persona.cargas) )       

      label(for='tramo') Tramo:
      input#tramo.form-control(type='number', placeholder='1', name='tramo', value=(undefined===persona ? '' : persona.tramo) )     

      label(for='montoPactado') Monto Pactado:
      input#montoPactado.form-control(type='number', placeholder='2.91', name='montoPactado', value=(undefined===persona ? '' : persona.montoPactado) )  

    div
      div(style='display: inline; padding-right:10px;')
        input.checkbox-input(type='checkbox', name='inval')
        label(for='inval') Invalidez

        input.checkbox-input(type='checkbox', name='dosPorciento')
        label(for='dosPorciento') Dos Porciento

        input.checkbox-input(type='checkbox', name='gratificacion')
        label(for='gratificacion') Gratificación

        input.checkbox-input(type='checkbox', name='porcentajeZona')
        label(for='porcentajeZona') Porcentaje Zona        
    
    div
      button.btn.btn-primary(type='submit') Submit
    if errors 
      ul
        for error in errors
          li!= error.msg